{% extends "admin/base.html" %}
{% block branding %}
    <h1 id="site-name"><a href="{% url 'examples:cached' %}">Пример асинхронных задач</a></h1>
    {% if user.is_anonymous %}
        {% include "admin/color_theme_toggle.html" %}
    {% endif %}
{% endblock %}
{% block title %}Async tasks example{% endblock %}
{% block pretitle %}
    <a href="{% url 'examples:index' %}">Вернуться к примерам</a>
    <p>
        <b>Celery</b> это распределенная очередь задач, которая выполняется параллельно с основной программой django.
        При этом ей доступно все окружение проекта, например база данных
    </p>
    <p>
        <b>Celery</b> для выполнения асинхронных задач использует воркеры - это отдельные контейнеры,
        внутри которых выполняются задачи. Воркеров может быть сколько угодно, насколько хватит ресурсов.
        В этом проекте 1 воркер.
    </p>
    <p>
        <b>Celery</b> для работы нужен брокер сообщений. В данном проекте, в качестве брокера используется redis
    </p>
{% endblock %}
{% block content_title %}<h1>Асинхронные таски</h1>{% endblock %}
{% block content_subtitle %}<h2>Пример асинхронных тасков</h2>{% endblock %}
{% block content %}
    <div id="content-main">
        <form class="form-create">
            <p>
                <label>
                    Имитация полезного действия на сервере в миллисекундах:
                    <input type="number" max="1000" min="100" value="300" name="one_percent_delay_milliseconds">
                </label>
            </p>
            <p><input type="submit" value="Создать задачу"></p>
        </form>
        <div class="module">
            <table class="tasks-container">
                <caption>
                    <a href="{{ app.app_url }}" class="section" title="Добавленные Роуты">Живые таски</a>
                </caption>
            </table>

        </div>
    </div>

    <script nonce="dev">
        const tasks = {}

        async function fetchTaskIds() {
            const response = await fetch("{% url "examples:api_task_ids" %}", {method: "GET"});
            return await response.json();
        }

        async function fetchTask(pk) {
            const response = await fetch("{% url "examples:api_task" 0 %}".replace("0", pk), {method: "GET"})
            return await response.json()
        }

        async function fetchCreateTask(one_percent_delay_milliseconds, csrfToken) {
            const response = await fetch(
                "{% url "examples:api_create_task" %}",
                {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": csrfToken,
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        one_percent_delay_milliseconds,
                    }),
                    credentials: 'same-origin',
                },
            );
            return await response.json();
        }

        async function fetchDeleteTask(pk, csrfToken) {
            const response = await fetch(
                "{% url "examples:api_delete_task" 0 %}".replace("0", pk),
                {
                    method: "DELETE",
                    headers: {
                        "X-CSRFToken": csrfToken,
                        "Content-Type": "application/json",
                    },
                    credentials: "same-origin",
                },
            );
            return response.status === 200 ? {status: "ok"} : {status: "skipped"};
        }

        function isTaskExist(id) {
            return id in tasks;
        }

        function getExcludedIDs(fetchedIDs) {
            const existIDsSet = new Set(Object.keys(tasks));
            for (let item of fetchedIDs) {
                existIDsSet.delete(item.toString());
            }
            return Array.from(existIDsSet);
        }

        function createTaskDOMElement(id, csrfToken) {
            const tr = document.createElement('tr');
            tr.dataset.id = id;

            const rowHeader = document.createElement('th');
            rowHeader.setAttribute('scope', 'row');
            const rowHeaderText = document.createTextNode(`Task ID: ${id}`);

            const rowMiddle = document.createElement('td');
            const rowMiddleProgress = document.createElement('progress');
            rowMiddleProgress.setAttribute('min', '0');
            rowMiddleProgress.setAttribute('max', '100');
            rowMiddleProgress.setAttribute('value', '0');

            const rowLast = document.createElement('td');
            const rowLastButton = document.createElement('button')
            const rowLastButtonText = document.createTextNode('Удалить');

            tr.appendChild(rowHeader);
            tr.appendChild(rowMiddle);
            tr.appendChild(rowLast);

            rowHeader.appendChild(rowHeaderText);
            rowMiddle.appendChild(rowMiddleProgress);
            rowLast.appendChild(rowLastButton);
            rowLastButton.appendChild(rowLastButtonText);

            rowLastButton.addEventListener('click', (event) => {
                event.preventDefault();
                fetchDeleteTask(id, csrfToken).then(() => {
                    console.info(`Task ID${id} was deleted`)
                })
            })

            const timerID = setInterval(async () => {
                const data = await fetchTask(id);
                const {percentage} = data;
                if (Number(percentage) === 100)
                    clearInterval(timerID)
                rowMiddleProgress.setAttribute('value', percentage);
            }, 300);

            return {element: tr, timerID};
        }

        function addTask(id, container, csrfToken) {
            const {element, timerID} = createTaskDOMElement(id, csrfToken)
            tasks[id] = {
                element,
                timerID,
            };
            container.appendChild(element);
        }

        function deleteTask(id, container) {
            const {element, timerID} = tasks[id];
            clearInterval(timerID);
            container.removeChild(element);
            delete tasks[id];
        }

        document.addEventListener('DOMContentLoaded', () => {
            const contentMain = document.getElementById("content-main");
            const formCreate = contentMain.querySelector(".form-create");
            const tasksContainer = contentMain.querySelector('.tasks-container')
            const csrfToken = "{{ csrf_token }}"

            formCreate.addEventListener('submit', (event) => {
                event.preventDefault();
                const formData = new FormData(formCreate);
                const one_percent_delay_milliseconds = formData.get('one_percent_delay_milliseconds')
                fetchCreateTask(one_percent_delay_milliseconds, csrfToken).then(data => {
                    const {pk} = data;
                    console.info(`Task ID${pk} was created`);
                })
            })

            setInterval(async () => {
                const ids = await fetchTaskIds();
                ids.forEach(id => {
                    if (!isTaskExist(id)) {
                        addTask(id, tasksContainer, csrfToken);
                    }
                })
                const excludedIDs = getExcludedIDs(ids);
                excludedIDs.forEach(id => {
                    deleteTask(id, tasksContainer)
                })
            }, 500)

        })
    </script>
{% endblock %}
